
  <body> 
    <h1>What are you looking for?</h1>
    <form action="/" method="post">
      <input type="text" name="job">
      <input type="text" name="city" value=<%=city %>>
      <input type="submit" value="Search">
    </form>
    <h3>Your IP address is <%=request.ip%></h3>
    <h3>Your city is <%=city%></h3>
  </body>
  
