<html>
  <head>
    <!--Bootstrap CSS and JavaScript-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

   <%= yield %>
</html>


<!-- <h4>No results yet</h4> -->