<html>
  <head>
    <!--Bootstrap CSS and JavaScript-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body> 
    <h1>What are you looking for?</h1>
    <form action="/" method="post">
      <input type="text" name="job">
      <input type="text" name="city">
      <input type="submit" value="Search">
    </form>
  </body>
  
</html>